/*(sub-heading at the top of the app UI)*/
/*(chat on the left)*/
/*(chat on the right)*/
/*(placeholder text)*/
/*(main heading)*/
/*(paragraph)*/
/*gradient*/
/*(app background)*/
/* (submit button background)*/
/*(radio button outline)*/
body {
  position: relative;
  background-color: #f5f3f7;
  height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
}

body::after {
  content: "";
  display: inline-block;
  position: absolute;
  height: 600px;
  width: 31.25%;
  left: -100px;
  top: 0;
  background-image: linear-gradient(38deg, #8838ff, #e942ff);
  z-index: -1;
  border-bottom-right-radius: 300px;
  border-bottom-left-radius: 300px;
}

@media (max-width: 500px) {
  body::after {
    width: 300px;
    left: -70px;
    height: 400px;
  }
}

.mainsection {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  height: 90vh;
  width: 100%;
}

.mainsection .content {
  padding-left: 10%;
  width: 500px;
}

@media (max-width: 500px) {
  .mainsection .content {
    padding-left: 0;
    text-align: center;
    padding: 20%;
  }
}

.mainsection .content__heading {
  font-size: 35px;
  font-weight: 500;
  color: #3e2753;
  margin-bottom: 40px;
}

.mainsection .content__detials {
  font-size: 14px;
  color: #c6cacd;
  line-height: 1.5;
}

.mainsection .mobile {
  width: 300px;
}

.mainsection .mobile__main {
  background-color: #f5f3f7;
  border-radius: 30px;
  border: solid 10px white;
}

.mainsection .mobile__header {
  display: flex;
  background-image: linear-gradient(to right, #8838ff, #e942ff);
  height: 75px;
  align-items: flex-end;
  position: relative;
  padding: 15px;
  border-radius: 20px 20px 10px 10px;
}

.mainsection .mobile__header::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: -2px;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  border-radius: 0 0 15px 15px;
  height: 20px;
  width: 170px;
}

.mainsection .mobile__header img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: solid 2px white;
  margin: 0 10px;
}

.mainsection .mobile__header--heading {
  margin: 0 90px 0 0;
}

.mainsection .mobile__header .fa-angle-left, .mainsection .mobile__header .fa-ellipsis-v {
  color: white;
  margin-bottom: 5px;
}

.mainsection .mobile__header .fa-angle-left {
  font-size: 20px;
}

.mainsection .mobile__header--name {
  color: white;
  font-size: 14px;
  font-weight: 500;
}

.mainsection .mobile__header--sub {
  color: #d89eff;
  font-size: 10px;
  font-weight: 500;
}

.mainsection .mobile__body {
  padding: 10px;
  display: flex;
  flex-direction: column;
  /*chat 1 2 left start*/
  /*chat 1 2 left ends*/
  /*chat 3 4 5 right start*/
  /*chat 3 4 5 right end*/
  /*chat 6 7 8 right start*/
  /*chat 6 7 8 right ends*/
  /*typearea  start*/
}

.mainsection .mobile__body .chat {
  padding: 10px 10px 10px 10px;
}

.mainsection .mobile__body--chat1, .mainsection .mobile__body--chat2 {
  width: 165px;
  background-color: #e6e6e6;
  border-radius: 15px 15px 15px 10px;
  margin-bottom: 10px;
  padding-right: 20px !important;
}

.mainsection .mobile__body--leftchat1, .mainsection .mobile__body--leftchat2 {
  color: #9241c8;
  font-size: 10px;
  line-height: 1.5;
}

.mainsection .mobile__body--chat3 {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px !important;
  padding: 0 !important;
}

.mainsection .mobile__body--rightchatimg1 {
  width: 40px;
  height: 40px;
  border-radius: 10px;
}

.mainsection .mobile__body--rightchatimg1:not(:last-child) {
  margin-right: 10px;
}

.mainsection .mobile__body--chat4 {
  width: 165px;
  background-color: white;
  border-radius: 15px 15px 10px 15px;
  margin-top: 10px;
  padding: 10px !important;
  align-self: flex-end;
}

.mainsection .mobile__body--rightchat2 {
  color: #6e5d7e;
  font-size: 10px;
  line-height: 1.5;
}

.mainsection .mobile__body--chat5 {
  width: 100px;
  background-color: white;
  border-radius: 15px 15px 10px 15px;
  margin-top: 10px;
  padding: 10px !important;
  align-self: flex-end;
}

.mainsection .mobile__body--rightchat3 {
  color: #6e5d7e;
  font-size: 10px;
  line-height: 1.5;
}

.mainsection .mobile__body--chat6 {
  width: 165px;
  background-color: #e6e6e6;
  border-radius: 15px 15px 15px 10px;
  margin: 20px 0 10px 0;
  padding-right: 20px !important;
}

.mainsection .mobile__body--leftchat3 {
  color: #9241c8;
  font-size: 10px;
  line-height: 1.5;
}

.mainsection .mobile__body--chat7, .mainsection .mobile__body--chat8 {
  display: flex;
  align-items: center;
  background-image: linear-gradient(to right, #8838ff, #e942ff);
  margin-bottom: 10px;
  width: 195px;
  border-radius: 15px 15px 15px 10px;
  color: white;
}

.mainsection .mobile__body .fa-genderless {
  margin-right: 10px;
}

.mainsection .mobile__body--chatdetials {
  font-size: 10px;
}

.mainsection .mobile__body--chatdetials .first {
  font-size: 13px;
  margin-left: 50px;
}

.mainsection .mobile__body--chatdetials .second {
  margin-left: 70px;
  font-size: 13px;
}

.mainsection .mobile__body--type {
  position: relative;
}

.mainsection .mobile__body--text, .mainsection .mobile__body--text:active, .mainsection .mobile__body--text:focus {
  width: 100%;
  height: 35px;
  border-radius: 20px;
  border: none;
  outline: none;
  position: relative;
  padding: 10px;
}

.mainsection .mobile__body .fa-angle-right {
  position: absolute;
  right: 5px;
  top: 5px;
  text-align: center;
  padding-top: 4px;
  background-color: #3e2753;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  color: white;
}

*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Rubik', sans-serif;
}
