$PaleViolet: hsl(276, 100%, 81%) ;          /*(sub-heading at the top of the app UI)*/
$ModerateViolet: hsl(276, 55%, 52%);          /*(chat on the left)*/
$DesaturatedDarkViolet : hsl(271, 15%, 43%);       /*(chat on the right)*/
$GrayishBlue: hsl(206, 6%, 79%);                       /*(placeholder text)*/
$VeryDarkDesaturatedViolet : hsl(271, 36%, 24%) ;           /*(main heading)*/
$DarkGrayishViolet: hsl(270, 7%, 64%) ;                          /*(paragraph)*/


/*gradient*/

$LightMagenta: hsl(293, 100%, 63%);
$LightViolet: hsl(264, 100%, 61%);


$White: hsl(0, 0%, 100%);
$ightGrayishViolet : hsl(270, 20%, 96%);     
$ightGrayishViolet2 : hsl(0, 0%, 90%);     /*(app background)*/
$VeryDarkDesaturatedViolet: hsl(271, 36%, 24%);     /* (submit button background)*/
$VeryLightMagenta : hsl(289, 100%, 72%);            /*(radio button outline)*/